
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000000;
    font-family: Arial, sans-serif;
    padding:40px;
}

.main-title{
    background:#57123c;
    padding:30px;
    text-align:center;
    font-size:40px;
    border-radius:30px;
    margin-bottom:60px;
    font-weight:bold;
      box-shadow:0px 10px 25px rgba(255, 217, 0, 0.616);
}

.container{
    width:80%;
    margin:auto;
}

.exp-box{
    display:block;
    text-decoration:none;
    background:#afabab;
    padding:25px;
    margin:30px 0;
    text-align:center;
    font-size:22px;
    font-weight:bold;
    border-radius:40px;
    color:black;
    transition:0.3s;
    box-shadow:0px 10px 25px rgba(255, 217, 0, 0.592);
    
}

.exp-box:hover{
    background:#5c0404;
    transform:scale(1.03);
    
}
