
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(135deg,#0f0f0f,#1a1a1a,#000);
  color:white;
  text-align:center;
  padding:40px;
}

h1{
  font-size:48px;
  margin-bottom:25px;
  color:gold;
  letter-spacing:2px;
  text-shadow:0px 0px 15px rgba(255,215,0,0.6);
}


.navbar{
  margin-bottom:30px;
}

.navbar a{
  color:white;
  text-decoration:none;
  margin:0 15px;
  font-size:18px;
  padding:8px 15px;
  border-radius:6px;
  transition:0.3s;
}

.navbar a:hover{
  background:gold;
  color:black;
}

h2, video, details{
  margin:15px 0;
}

hr{
  margin:50px auto;
  width:60%;
  border:1px solid rgba(255,255,255,0.1);
}

.product{
  width:600px;
  margin:40px auto;
  padding:30px;
  border-radius:15px;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(10px);
  box-shadow:0 8px 25px rgba(0,0,0,0.6);
  transition:0.3s;
}

.product:hover{
  transform:translateY(-8px);
}

video{
  border-radius:12px;
  box-shadow:0px 10px 25px rgba(255,215,0,0.3);
}

details{
  background:#111;
  padding:12px;
  border-radius:8px;
  width:250px;
  margin:15px auto;
}

summary{
  color:gold;
  cursor:pointer;
  font-weight:bold;
}
/* CSS FOR CONTACT  */



.contact-box{
  width:400px;
  margin:40px auto;
  padding:30px;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(10px);
  border-radius:15px;
  box-shadow:0 10px 30px rgba(0,0,0,0.6);
}


label{
  display:block;
  margin-top:15px;
  margin-bottom:5px;
  color:gold;
  text-align:left;
}

input, textarea{
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;
  margin-bottom:15px;
  font-size:16px;
}

input[type="submit"]{
  background:gold;
  color:black;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

input[type="submit"]:hover{
  transform:scale(1.05);
  background:#ffd700;
}
/* INDEX (FIRST PAGEEEEEE) */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


body{
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(135deg,#0f0f0f,#1a1a1a,#000);
  color:white;
  text-align:center;
  padding:40px;
}


h1{
  font-size:48px;
  color:gold;
  margin-bottom:20px;
  letter-spacing:2px;
}


.navbar{
  margin:20px 0;
}

.navbar a{
  color:white;
  text-decoration:none;
  margin:0 15px;
  font-size:18px;
  padding:8px 15px;
  border-radius:6px;
  transition:0.3s;
}

.navbar a:hover{
  background:gold;
  color:black;
}


h2{
  margin-top:20px;
  color:#f5c518;
}

p{
  margin:15px 0;
  font-size:18px;
}

.hero-img{
  border-radius:15px;
  margin-top:20px;
  box-shadow:0px 15px 40px rgba(255,215,0,0.4);
}


