.heading {
    margin-top: 20px;
}

.heading a {
    display: inline-block;   
    padding: 10px 20px;      
    margin: 10px;          
    background-color: #398dae;  
    color: white;           
    text-decoration: none;  
    border-radius: 8px;      
    font-weight: bold;
}

.heading a:hover {
    background-color: #45a049; 
}


#top {
    background-image: linear-gradient(to right,rgb(41, 41, 41),rgb(255, 255, 255));
     text-align: center;
}

